*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 550px;
}
.main{
    background-color: rgb(115, 157, 123);
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
}
.innerdiv{
    overflow: hidden;
    height: 500px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
}
.top{
    padding: 0% 20%;
    height: 50px;
    background-color: rgb(50, 145, 75);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.elem{
    display: flex;
    width: 20%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.box{
    box-shadow:  5px 5px 50px rgb(1, 33, 242); 
    box-shadow:inset  1px 1px 10px rgba(78, 77, 77, 0.724); 
    padding: 2px;
    justify-content: center;
    width: 35%;
    background-color: aliceblue;
    border-radius: 10%;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.bottom{
    box-shadow:  5px 5px 50px rgb(6, 6, 6); 
    width: 100%;
    height: 100%;
    background-color: rgb(254, 254, 254);
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-bottom: 6%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubble{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.464); 
    display: flex;
    border-radius: 50%;
    width: 5%;
    height: 10%;
    background-color: rgb(54, 89, 64);
    align-items: center;
    justify-content: center;
    color: white;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(50, 145, 75);
    box-shadow: 5px 5px 30px rgb(254, 0, 0); 
}
.centered-container {
    text-align: center; /* Center the content horizontally */
    position: relative;
    padding: 20px; /* Add some padding to create space around the content */
    background-color: #fff; /* Background color */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
    background-color: rgba(255, 0, 0, 0.564);
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.danger {
    animation: blink 1s infinite; 
    background-color: red;/* 1s duration, infinite iterations */
}
/* Styles for screens with a width of 375px and a height of 667px or larger */
@media screen and (min-width: 375px) and (min-height: 667px) {
  
    .bottom{
        gap: 5px;
        padding-bottom: 16%;
  }
  .top{
    height: 60px;
    gap: 40px;
}
.box{
    width: 55%;
}
.elem{
    display: flex;
    width: 30%;
    gap: 5px;
}
.innerdiv{
    height: 600px;
}
}
@media screen and (min-width: 414px) and (min-height: 896px) {
    .innerdiv{
        height: 835px;
    }
    .bottom{
        gap: 5px;
        padding-bottom: 6%;
  }
}
@media screen and (min-width: 390px) and (min-height: 844px) {
    .innerdiv{
        height: 780px;
    }
    .bottom{
        gap: 5px;
        padding-bottom: 10%;
  }
}
@media screen and (min-width: 360px) and (min-height: 740px) {
    .innerdiv{
        height: 680px;
    }
    .bottom{
        gap: 5px;
        padding-bottom: 10%;
  }
  .top{
   
    gap: 50px;
}
.box{
    width: 75%;
}
}
@media screen and (min-width: 412px) and (min-height: 915px) {
    .innerdiv{
        height: 845px;
    }
    .bottom{
        gap: 5px;
        padding-bottom: 5%;
  }
  .top{
    gap: 50px;
}
.box{
    width: 75%;
}
}
@media screen and (min-width: 820px) and (min-height: 1180px) {
    .innerdiv{
        height: 1115px;
    }
    .bottom{
        gap: 5px;
        padding-bottom: 17%;
  }
  .top{
    gap: 50px;
}
.box{
    width: 75%;
}
}
/* Styles for screens with a width of 904px or larger */
@media screen and (max-width: 908px) {
    /* Your CSS styles here */
    /* For example, you can change the background color of the body */
    .bottom{
        gap: 5px;
        padding-bottom: 97px;
  }
  }
  @media screen and (max-width: 908px) {
    /* Your CSS styles here */
    /* For example, you can change the background color of the body */
    .top{
        gap: 50px;
    }
    .box{
        width: 75%;
    }
  }
  @media screen and (max-width: 908px) {
    /* Your CSS styles here */
    /* For example, you can change the background color of the body */
    .top{
        gap: 40px;
    }
    .box{
        width: 75%;
    }
  }
  
